.contact-us {
  padding: 20px;
  background-color: rgba(36, 36, 36, 0.7); /* Increased transparency */
}

.contact-us h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1;
  padding: 20px;
  background-color: rgba(32, 32, 32, 0.2); /* Dark background with transparency */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
  flex: 1;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1c86ee;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #1c86ee;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .map-container {
    height: 300px;
  }
}
