.sale-banner {
  background: linear-gradient(45deg, #f1300a, #ff6347, #e53935); /* Red gradient shades */
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for emphasis */
  position: relative; /* For positioning the close button */
}

.sale-banner h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ffffff; /* Ensuring the close button is visible on the gradient */
}
